<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div style="width: 85%; margin: 0 7.5%;">
    <div style="text-align: center; padding-left: 50px;">
        <h3>Bill Report</h5>
            <table>
                <% if (billInfo.length > 0) { %>
                <% billInfo.forEach(bill => {%>
                <tr>
                    <td><%= bill.channel %></td>
                    <td><%= bill.status %></td>
                    <td><%= bill.paymentDate.city %></td>
                    <td><%= bill.paymentTime %></td>
                </tr>
                <%  });%>
                <% }%>
            </table>
    </div>
</div>
</body>
</html>
